<a href="https://colab.research.google.com/github/Huyvubk/Python-programing/blob/main/Collections_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Counters

In [2]:
from collections import Counter

# Count Characters
Counter('VIETNAM')

Counter({'V': 1, 'I': 1, 'E': 1, 'T': 1, 'N': 1, 'A': 1, 'M': 1})

In [3]:
# Count List elements
Counter([1,2,3,4,5,1,2])

Counter({1: 2, 2: 2, 3: 1, 4: 1, 5: 1})

In [4]:
# with keyword arguments
print(Counter(a=3, b=5, c=2))

Counter({'b': 5, 'a': 3, 'c': 2})

In [5]:
# with dictionary
print(Counter({'Alice':7.0, 'Harry':9.0, 'John Wick':10.0, 'Ben':8.0}))

Counter({'John Wick': 10.0, 'Harry': 9.0, 'Ben': 8.0, 'Alice': 7.0})

In [7]:
from collections import Counter

coun = Counter()
print(coun)

Counter()

In [8]:
coun.update([1, 2, 3, 4, 5])
print(coun)

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1})

#### Ex1: Đếm số lần xuất hiện của từ trong một đoạn văn

In [9]:
text1 = '''
Mình có một ông anh học bách khoa cơ khí, sinh năm 96. Tự mày mò học code rồi đi làm remote cho công ty Mỹ 2 năm nay. Mỗi tối online 3-4 giờ là xong việc. Lương tháng 3k6. Nhưng thu nhập chính vẫn là từ nhận các project bên ngoài làm thêm. Tuần làm 2,3 cái nhẹ nhàng 9,10k tiền tươi thóc thật không phải đóng thuế. Làm gần được 3 năm mà nhà xe nó đã mua đủ cả. Nghĩ mà thèm.
Gái gú thì cứ nghe nó bảo làm CNTT thì chảy nước. Có bé kia dân du học sinh Úc, về được cô chị giới thiệu làm ngân hàng VCB. Thế nào thằng ấy đi mở thẻ tín dụng gặp phải thế là hốt được cả chị lẫn em. 3 đứa nó sống chung một căn hộ cao cấp. Nhà con bé kia biết chuyện ban đầu phản đối sau biết thằng đấy học IT thì đổi thái độ, cách ba bữa hỏi thăm, năm bữa tặng quà lấy long, luôn giục cưới kẻo lỡ kèo ngon
'''
text = text1.replace("\n", "")
text

'Mình có một ông anh học bách khoa cơ khí, sinh năm 96. Tự mày mò học code rồi đi làm remote cho công ty Mỹ 2 năm nay. Mỗi tối online 3-4 giờ là xong việc. Lương tháng 3k6. Nhưng thu nhập chính vẫn là từ nhận các project bên ngoài làm thêm. Tuần làm 2,3 cái nhẹ nhàng 9,10k tiền tươi thóc thật không phải đóng thuế. Làm gần được 3 năm mà nhà xe nó đã mua đủ cả. Nghĩ mà thèm.Gái gú thì cứ nghe nó bảo làm CNTT thì chảy nước. Có bé kia dân du học sinh Úc, về được cô chị giới thiệu làm ngân hàng VCB. Thế nào thằng ấy đi mở thẻ tín dụng gặp phải thế là hốt được cả chị lẫn em. 3 đứa nó sống chung một căn hộ cao cấp. Nhà con bé kia biết chuyện ban đầu phản đối sau biết thằng đấy học IT thì đổi thái độ, cách ba bữa hỏi thăm, năm bữa tặng quà lấy long, luôn giục cưới kẻo lỡ kèo ngon'

In [10]:
# Sử dựng set
word_count_dict = set(text.split())
print(word_count_dict)

{'chị', 'lỡ', 'nghe', 'thì', '2,3', 'online', 'tháng', 'tươi', 'cứ', 'thẻ', 'dụng', 'giới', 'thiệu', 'cả', 'xong', 'thật', 'công', 'remote', 'việc.', 'khoa', 'Nhưng', 'du', 'về', 'CNTT', 'cấp.', 'VCB.', 'kia', 'cả.', 'Nghĩ', 'gần', 'nay.', 'khí,', 'cho', 'học', 'cô', 'tiền', 'biết', 'long,', 'Thế', 'code', 'là', 'thăm,', 'năm', 'ấy', 'Mỗi', 'có', 'hộ', '96.', 'làm', 'quà', 'Nhà', 'độ,', 'anh', 'ba', 'nhận', 'con', 'rồi', 'cao', '2', 'Tuần', 'nhàng', 'ty', 'nó', 'project', 'đấy', 'luôn', 'đủ', 'gú', '3-4', 'hỏi', 'Có', 'đối', 'lấy', 'giờ', 'bảo', 'bé', 'đứa', 'sinh', 'phải', 'nhà', 'mua', 'chảy', 'thái', 'nào', 'giục', 'không', 'mà', 'phản', 'hàng', 'tối', 'em.', 'chuyện', 'thu', 'ban', 'Úc,', 'thêm.', 'lẫn', 'sau', 'ngon', 'ngân', 'Tự', 'ngoài', 'cơ', 'nước.', 'thuế.', 'đi', '9,10k', 'mở', '3', 'đã', 'gặp', 'ông', 'Lương', 'Làm', 'một', 'bên', 'bách', 'các', 'được', 'thế', 'nhẹ', 'chung', 'thằng', 'sống', 'căn', 'kèo', 'dân', 'kẻo', 'Mình', 'từ', 'thóc', 'đổi', 'vẫn', 'tín', '3k6.', 'IT', 'thèm.Gái', 'hốt', 'cách', 'mày', 'Mỹ', 'bữa', 'nhập', 'đóng', 'cưới', 'đầu', 'tặng', 'mò', 'cái', 'xe', 'chính'}

In [11]:
#dict
word_count_dict = {}
for w in text.split(" "):
    if w in word_count_dict:
        word_count_dict[w]+=1
    else:
        word_count_dict[w]=1
print(word_count_dict)

{'Mình': 1, 'có': 1, 'một': 2, 'ông': 1, 'anh': 1, 'học': 4, 'bách': 1, 'khoa': 1, 'cơ': 1, 'khí,': 1, 'sinh': 2, 'năm': 4, '96.': 1, 'Tự': 1, 'mày': 1, 'mò': 1, 'code': 1, 'rồi': 1, 'đi': 2, 'làm': 5, 'remote': 1, 'cho': 1, 'công': 1, 'ty': 1, 'Mỹ': 1, '2': 1, 'nay.': 1, 'Mỗi': 1, 'tối': 1, 'online': 1, '3-4': 1, 'giờ': 1, 'là': 3, 'xong': 1, 'việc.': 1, 'Lương': 1, 'tháng': 1, '3k6.': 1, 'Nhưng': 1, 'thu': 1, 'nhập': 1, 'chính': 1, 'vẫn': 1, 'từ': 1, 'nhận': 1, 'các': 1, 'project': 1, 'bên': 1, 'ngoài': 1, 'thêm.': 1, 'Tuần': 1, '2,3': 1, 'cái': 1, 'nhẹ': 1, 'nhàng': 1, '9,10k': 1, 'tiền': 1, 'tươi': 1, 'thóc': 1, 'thật': 1, 'không': 1, 'phải': 2, 'đóng': 1, 'thuế.': 1, 'Làm': 1, 'gần': 1, 'được': 3, '3': 2, 'mà': 2, 'nhà': 1, 'xe': 1, 'nó': 3, 'đã': 1, 'mua': 1, 'đủ': 1, 'cả.': 1, 'Nghĩ': 1, 'thèm.Gái': 1, 'gú': 1, 'thì': 3, 'cứ': 1, 'nghe': 1, 'bảo': 1, 'CNTT': 1, 'chảy': 1, 'nước.': 1, 'Có': 1, 'bé': 2, 'kia': 2, 'dân': 1, 'du': 1, 'Úc,': 1, 'về': 1, 'cô': 1, 'chị': 2, 'giới': 1, 'thiệu': 1, 'ngân': 1, 'hàng': 1, 'VCB.': 1, 'Thế': 1, 'nào': 1, 'thằng': 2, 'ấy': 1, 'mở': 1, 'thẻ': 1, 'tín': 1, 'dụng': 1, 'gặp': 1, 'thế': 1, 'hốt': 1, 'cả': 1, 'lẫn': 1, 'em.': 1, 'đứa': 1, 'sống': 1, 'chung': 1, 'căn': 1, 'hộ': 1, 'cao': 1, 'cấp.': 1, 'Nhà': 1, 'con': 1, 'biết': 2, 'chuyện': 1, 'ban': 1, 'đầu': 1, 'phản': 1, 'đối': 1, 'sau': 1, 'đấy': 1, 'IT': 1, 'đổi': 1, 'thái': 1, 'độ,': 1, 'cách': 1, 'ba': 1, 'bữa': 2, 'hỏi': 1, 'thăm,': 1, 'tặng': 1, 'quà': 1, 'lấy': 1, 'long,': 1, 'luôn': 1, 'giục': 1, 'cưới': 1, 'kẻo': 1, 'lỡ': 1, 'kèo': 1, 'ngon': 1}

In [12]:
from collections import Counter
word_count_dict = Counter()
for w in text.split(" "):
    #print(word_count_dict)
    word_count_dict[w]+=1
print(word_count_dict)

Counter({'làm': 5, 'học': 4, 'năm': 4, 'là': 3, 'được': 3, 'nó': 3, 'thì': 3, 'một': 2, 'sinh': 2, 'đi': 2, 'phải': 2, '3': 2, 'mà': 2, 'bé': 2, 'kia': 2, 'chị': 2, 'thằng': 2, 'biết': 2, 'bữa': 2, 'Mình': 1, 'có': 1, 'ông': 1, 'anh': 1, 'bách': 1, 'khoa': 1, 'cơ': 1, 'khí,': 1, '96.': 1, 'Tự': 1, 'mày': 1, 'mò': 1, 'code': 1, 'rồi': 1, 'remote': 1, 'cho': 1, 'công': 1, 'ty': 1, 'Mỹ': 1, '2': 1, 'nay.': 1, 'Mỗi': 1, 'tối': 1, 'online': 1, '3-4': 1, 'giờ': 1, 'xong': 1, 'việc.': 1, 'Lương': 1, 'tháng': 1, '3k6.': 1, 'Nhưng': 1, 'thu': 1, 'nhập': 1, 'chính': 1, 'vẫn': 1, 'từ': 1, 'nhận': 1, 'các': 1, 'project': 1, 'bên': 1, 'ngoài': 1, 'thêm.': 1, 'Tuần': 1, '2,3': 1, 'cái': 1, 'nhẹ': 1, 'nhàng': 1, '9,10k': 1, 'tiền': 1, 'tươi': 1, 'thóc': 1, 'thật': 1, 'không': 1, 'đóng': 1, 'thuế.': 1, 'Làm': 1, 'gần': 1, 'nhà': 1, 'xe': 1, 'đã': 1, 'mua': 1, 'đủ': 1, 'cả.': 1, 'Nghĩ': 1, 'thèm.Gái': 1, 'gú': 1, 'cứ': 1, 'nghe': 1, 'bảo': 1, 'CNTT': 1, 'chảy': 1, 'nước.': 1, 'Có': 1, 'dân': 1, 'du': 1, 'Úc,': 1, 'về': 1, 'cô': 1, 'giới': 1, 'thiệu': 1, 'ngân': 1, 'hàng': 1, 'VCB.': 1, 'Thế': 1, 'nào': 1, 'ấy': 1, 'mở': 1, 'thẻ': 1, 'tín': 1, 'dụng': 1, 'gặp': 1, 'thế': 1, 'hốt': 1, 'cả': 1, 'lẫn': 1, 'em.': 1, 'đứa': 1, 'sống': 1, 'chung': 1, 'căn': 1, 'hộ': 1, 'cao': 1, 'cấp.': 1, 'Nhà': 1, 'con': 1, 'chuyện': 1, 'ban': 1, 'đầu': 1, 'phản': 1, 'đối': 1, 'sau': 1, 'đấy': 1, 'IT': 1, 'đổi': 1, 'thái': 1, 'độ,': 1, 'cách': 1, 'ba': 1, 'hỏi': 1, 'thăm,': 1, 'tặng': 1, 'quà': 1, 'lấy': 1, 'long,': 1, 'luôn': 1, 'giục': 1, 'cưới': 1, 'kẻo': 1, 'lỡ': 1, 'kèo': 1, 'ngon': 1})

In [13]:
from collections import Counter
word_count_dict = Counter(text.split(" "))
print(word_count_dict)

Counter({'làm': 5, 'học': 4, 'năm': 4, 'là': 3, 'được': 3, 'nó': 3, 'thì': 3, 'một': 2, 'sinh': 2, 'đi': 2, 'phải': 2, '3': 2, 'mà': 2, 'bé': 2, 'kia': 2, 'chị': 2, 'thằng': 2, 'biết': 2, 'bữa': 2, 'Mình': 1, 'có': 1, 'ông': 1, 'anh': 1, 'bách': 1, 'khoa': 1, 'cơ': 1, 'khí,': 1, '96.': 1, 'Tự': 1, 'mày': 1, 'mò': 1, 'code': 1, 'rồi': 1, 'remote': 1, 'cho': 1, 'công': 1, 'ty': 1, 'Mỹ': 1, '2': 1, 'nay.': 1, 'Mỗi': 1, 'tối': 1, 'online': 1, '3-4': 1, 'giờ': 1, 'xong': 1, 'việc.': 1, 'Lương': 1, 'tháng': 1, '3k6.': 1, 'Nhưng': 1, 'thu': 1, 'nhập': 1, 'chính': 1, 'vẫn': 1, 'từ': 1, 'nhận': 1, 'các': 1, 'project': 1, 'bên': 1, 'ngoài': 1, 'thêm.': 1, 'Tuần': 1, '2,3': 1, 'cái': 1, 'nhẹ': 1, 'nhàng': 1, '9,10k': 1, 'tiền': 1, 'tươi': 1, 'thóc': 1, 'thật': 1, 'không': 1, 'đóng': 1, 'thuế.': 1, 'Làm': 1, 'gần': 1, 'nhà': 1, 'xe': 1, 'đã': 1, 'mua': 1, 'đủ': 1, 'cả.': 1, 'Nghĩ': 1, 'thèm.Gái': 1, 'gú': 1, 'cứ': 1, 'nghe': 1, 'bảo': 1, 'CNTT': 1, 'chảy': 1, 'nước.': 1, 'Có': 1, 'dân': 1, 'du': 1, 'Úc,': 1, 'về': 1, 'cô': 1, 'giới': 1, 'thiệu': 1, 'ngân': 1, 'hàng': 1, 'VCB.': 1, 'Thế': 1, 'nào': 1, 'ấy': 1, 'mở': 1, 'thẻ': 1, 'tín': 1, 'dụng': 1, 'gặp': 1, 'thế': 1, 'hốt': 1, 'cả': 1, 'lẫn': 1, 'em.': 1, 'đứa': 1, 'sống': 1, 'chung': 1, 'căn': 1, 'hộ': 1, 'cao': 1, 'cấp.': 1, 'Nhà': 1, 'con': 1, 'chuyện': 1, 'ban': 1, 'đầu': 1, 'phản': 1, 'đối': 1, 'sau': 1, 'đấy': 1, 'IT': 1, 'đổi': 1, 'thái': 1, 'độ,': 1, 'cách': 1, 'ba': 1, 'hỏi': 1, 'thăm,': 1, 'tặng': 1, 'quà': 1, 'lấy': 1, 'long,': 1, 'luôn': 1, 'giục': 1, 'cưới': 1, 'kẻo': 1, 'lỡ': 1, 'kèo': 1, 'ngon': 1})

In [14]:
word_count_dict.most_common(10)

[('làm', 5),
 ('học', 4),
 ('năm', 4),
 ('là', 3),
 ('được', 3),
 ('nó', 3),
 ('thì', 3),
 ('một', 2),
 ('sinh', 2),
 ('đi', 2)]

# OrderedDict

In [15]:
# move_to_end ()
from collections import OrderedDict
numbers = OrderedDict(one=1, two=2, three=3)
print(numbers)

numbers.move_to_end("two")
numbers

OrderedDict([('one', 1), ('two', 2), ('three', 3)])

OrderedDict([('one', 1), ('three', 3), ('two', 2)])

In [16]:
#Sorted 
from collections import OrderedDict
letters = OrderedDict(b=2, d=4, a=1, c=3)
print(letters)
for key in sorted(letters):
    letters.move_to_end(key)

letters

OrderedDict([('b', 2), ('d', 4), ('a', 1), ('c', 3)])

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [17]:
sorted(letters)

['a', 'b', 'c', 'd']

In [19]:
#.popitem() 
from collections import OrderedDict
numbers = OrderedDict(one=1, two=2, three=3)

print(numbers.popitem())
print(numbers.popitem())
print(numbers.popitem())

('three', 3)
('two', 2)
('one', 1)

# Defaultdict in Python

In [20]:
Dict = {1: 'one', 2: 'two', 3: 'three'}
print("Dictionary:")
print(Dict)
print(Dict[1])

Dictionary:
{1: 'one', 2: 'two', 3: 'three'}
one

### EX1

In [22]:
from collections import defaultdict

# Function to return a default values for keys that is not present
def def_value():
    return "Not Present"

# Defining the dict
dict1 = defaultdict(def_value)
dict1["john"] = '034567890'
dict1["tom"] = '031234432'

print(dict1["john"])
print(dict1["tom"])
print(dict1["kane"])
print(dict1)

034567890
031234432
Not Present
defaultdict(<function def_value at 0x7f7c1808e0d0>, {'john': '034567890', 'tom': '031234432', 'kane': 'Not Present'})

### EX2: __missing__

In [23]:
from collections import defaultdict
  
      
# Defining the dict
dict1 = defaultdict(lambda: "Not Present")
dict1["Cat"] = 2
dict1["Dog"] = 5
  
# Provides the default value 
# for the key
print(dict1.__missing__('Cat'))
print(dict1.__missing__('Bee'))
print(dict1)

Not Present
Not Present
defaultdict(<function <lambda> at 0x7f7c1808e700>, {'Cat': 'Not Present', 'Dog': 5, 'Bee': 'Not Present'})

### EX3: Using int as Defaultdict

In [24]:
from collections import defaultdict

# Defining the dict
dict1 = defaultdict(int)
L = [1, 2, 3, 4, 3, 2, 1]

for i in L:
    dict1[i] += 1

print(dict1)
print(dict1[10])
print(dict1)

defaultdict(<class 'int'>, {1: 2, 2: 2, 3: 2, 4: 1})
0
defaultdict(<class 'int'>, {1: 2, 2: 2, 3: 2, 4: 1, 10: 0})

### EX4: Using list as Defaultdict

In [26]:
from collections import defaultdict

# Defining a dict
dict1 = defaultdict(list)

for i in range(5):
    dict1[i].append(i)

print("Dictionary with values as list:")
print(dict1[10])
print(dict1)

Dictionary with values as list:
[]
defaultdict(<class 'list'>, {0: [0], 1: [1], 2: [2], 3: [3], 4: [4], 10: []})

# ChainMap

In [27]:
from collections import ChainMap

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}

# Defining the chainmap
chain_map = ChainMap(dict1, dict2, dict3)

print(chain_map)

ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6})

### EX1: Accessing Keys and Values from ChainMap

In [28]:
from collections import ChainMap

d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'd': 4}
d3 = {'e': 5, 'b': 6}

# Defining the chainmap
c = ChainMap(d1, d2, d3)
print(c.maps)

[{'a': 1, 'b': 2}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6}]

In [29]:
# Accessing Values using key name
print(c['b'])

2

In [30]:
# Accesing values using values() method
print(list(c.values()))

[5, 2, 4, 1]

In [31]:
# Accessing keys using keys()method
print(list(c.keys()))

['e', 'b', 'd', 'a']

In [32]:
#pop()
from collections import ChainMap

d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'd': 4}
d3 = {'e': 5, 'b': 6}

# Defining the chainmap
c = ChainMap(d1, d2, d3)
print(c.maps)
print(type(c.maps))

[{'a': 1, 'b': 2}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6}]
<class 'list'>

In [33]:
print(c.pop('b', 'error'))
print(c)

2
ChainMap({'a': 1}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6})

In [34]:
print(c.pop('d', 'error'))
print(c)

error
ChainMap({'a': 1}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6})

In [35]:
print(c.popitem())
print(c)

('a', 1)
ChainMap({}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6})

In [36]:
print(c)
print(c.clear())
print(c)

ChainMap({}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6})
None
ChainMap({}, {'b': 3, 'd': 4}, {'e': 5, 'b': 6})

### EX2: new_child()

In [37]:
# Python code to demonstrate ChainMap and new_child()
import collections

# initializing dictionaries
dic1 = { 'a' : 1, 'b' : 2 }
dic2 = { 'b' : 3, 'c' : 4 }
dic3 = { 'd' : 5, 'f': 10 }

# initializing ChainMap
chain = collections.ChainMap(dic1, dic2)

# printing chainMap
print ("All the ChainMap contents are : ")
print (chain)

All the ChainMap contents are :
ChainMap({'a': 1, 'b': 2}, {'b': 3, 'c': 4})

In [38]:
# using new_child() to add new dictionary
chain1 = chain.new_child(dic3)

# printing chainMap
print ("Displaying new ChainMap : ")
print (chain1)

Displaying new ChainMap :
ChainMap({'d': 5, 'f': 10}, {'a': 1, 'b': 2}, {'b': 3, 'c': 4})

# NamedTuple

In [39]:
from collections import namedtuple

# Declaring namedtuple()
teacher = namedtuple('Teacher',['name','age','DOB'])

# Adding values
teacher1 = teacher('Minh Thu','24','22101997')
print(teacher1)

Teacher(name='Minh Thu', age='24', DOB='22101997')

In [40]:
# Access using index
print ("The Teacher age using index is : ",end ="")
print (teacher1[1])

The Teacher age using index is : 24

In [41]:
# Access using name
print ("The Teacher name using keyname is : ",end ="")
print (teacher1.name)

The Teacher name using keyname is : Minh Thu

Fields are immtuable:

In [46]:
# initializing iterable 
teacher2 = ['Mai', '24', '411997' ]
# using _make() to return namedtuple()
print (teacher._make(teacher2))

Teacher(name='Mai', age='24', DOB='411997')

# Deque

In [48]:
from collections import deque

# initializing deque
de = deque([1,2,3])
print(de)

deque([1, 2, 3])

In [49]:
de.append(4)
print("The deque after appending at right is : ")
print(de)

The deque after appending at right is :
deque([1, 2, 3, 4])

In [50]:
de.appendleft(6)
print("The deque after appending at left is : ")
print(de)

The deque after appending at left is :
deque([6, 1, 2, 3, 4])

In [51]:
de.pop()
print(de)

deque([6, 1, 2, 3])

In [52]:
de.popleft()
print(de)

deque([1, 2, 3])

In [53]:
import collections

de = collections.deque([1, 2, 3, 4, 5, 4, 6, 2])
  
print ("The number 4 first occurs at a position : ")
print (de.index(4))

The number 4 first occurs at a position :
3

In [54]:
print (de.index(4, 4, 8))

5

In [56]:
# using insert() to insert the value 3 at 5th position
print(de)

de.insert(4,3)
print(de)

deque([1, 2, 3, 4, 5, 4, 6, 2])
deque([1, 2, 3, 4, 3, 5, 4, 6, 2])

In [57]:
de.insert(110,3)
print(de)

deque([1, 2, 3, 4, 3, 5, 4, 6, 2, 3])

In [58]:
# using count() to count the occurrences of 3
print(de)
print("The count of 3 in deque is : ")
print(de.count(3))

deque([1, 2, 3, 4, 3, 5, 4, 6, 2, 3])
The count of 3 in deque is :
3

In [59]:
de.count(100)

0

In [60]:
print(de)
# using remove() to remove the first occurrence of 3
de.remove(3)
print(de)

deque([1, 2, 3, 4, 3, 5, 4, 6, 2, 3])
deque([1, 2, 4, 3, 5, 4, 6, 2, 3])

In [61]:
import collections
  
de = collections.deque([1, 2, 3])
print(de)
  
# using extend() to add numbers to right end adds 4,5,6 to right end
de.extend([4,5,6])
print(de)

deque([1, 2, 3])
deque([1, 2, 3, 4, 5, 6])

In [62]:
# using extendleft() to add numbers to left end  adds 7,8,9 to right end
de.extendleft([7,8,9])
print(de)

deque([9, 8, 7, 1, 2, 3, 4, 5, 6])

In [63]:
#rotate
import collections
d = collections.deque([1, 2, 3, 4, 5])
print(d)

d.rotate(1)
print(d)

deque([1, 2, 3, 4, 5])
deque([5, 1, 2, 3, 4])

In [64]:
d.rotate(-1)
print(d)

deque([1, 2, 3, 4, 5])

In [65]:
print(d)

d.appendleft(d.pop())
print(d)

deque([1, 2, 3, 4, 5])
deque([5, 1, 2, 3, 4])

In [66]:
d = collections.deque([1, 2, 3, 4, 5])
print(d)

d.rotate(3)
print(d)

deque([1, 2, 3, 4, 5])
deque([3, 4, 5, 1, 2])

In [67]:
d = collections.deque([1, 2, 3, 4, 5])
print(d)

d.rotate(-4)
print(d)

deque([1, 2, 3, 4, 5])
deque([5, 1, 2, 3, 4])

In [68]:
#reverse
d = collections.deque([1, 2, 3, 4, 5])
print(d)

d.reverse()
print(d)

deque([1, 2, 3, 4, 5])
deque([5, 4, 3, 2, 1])

# User Dict

In [70]:
from collections import UserDict

u_dict = {'a':1,
    'b': 2,
    'c': 3}

# Creating an UserDict
userD = UserDict(u_dict)
print(userD)

{'a': 1, 'b': 2, 'c': 3}

In [71]:
# Creating an empty UserDict
userD = UserDict()
print(userD.data)

{}

In [75]:
from collections import UserDict

# deletion is not allowed
class MyDict(UserDict):
    # Function to stop deletion from dictionary
    def __del__(self):
        raise RuntimeError("Deletion not allowed")

    # Function to stop pop from dictionary
    def pop(self, s = None):
        raise RuntimeError("Deletion not allowed")

    # Function to stop popitem from Dictionary
    def popitem(self, s = None):
        raise RuntimeError("Deletion not allowed")

# Driver's code
d = MyDict({'a':1,
    'b': 2,
    'c': 3})

print("Original Dictionary")
print(d)

Original Dictionary
{'a': 1, 'b': 2, 'c': 3}

# UserList

In [76]:
from collections import UserList 
 
lst = [1,2,3,4,5]
  
user_list = UserList(lst) 
print(user_list)

[1, 2, 3, 4, 5]

In [77]:
user_list = UserList() 
print(user_list)

[]

In [80]:
# Python program to demonstrate userlist
from collections import UserList

# Creating a List where deletion is not allowed
class MyList(UserList):
    
    # Function to stop deletion from List
    def remove(self, s = None):
        raise RuntimeError("Deletion not allowed")

    # Function to stop pop from List
    def pop(self, s = None):
        raise RuntimeError("Deletion not allowed")
        
# Driver's code
L = MyList([1, 2, 3, 4])

print("Original List")
print(L)
# Inserting to List
L.append(5)
print("After Insertion")
print(L)

# Deleting From List

Original List
[1, 2, 3, 4]
After Insertion
[1, 2, 3, 4, 5]

In [81]:
# User String

In [82]:
# Python program to demonstrate userstring
from collections import UserString

d = 'Goodbye'

# Creating an UserDict
userS = UserString(d)
print(userS.data)

Goodbye

Exception ignored in: <function MyDict.__del__ at 0x7f7c1802f8b0>
Traceback (most recent call last):
  File "<ipython-input-75-ec5898191d2a>", line 7, in __del__
RuntimeError: Deletion not allowed

In [83]:
# Creating an empty UserDict
userS = UserString("")
print(userS.data)

In [84]:
# Python program to demonstrate userstring
from collections import UserString

# Creating a Mutable String
class Mystring(UserString):

    # Function to append to string
    def append(self, s):
        self.data += s

    # Function to remove from string
    def remove(self, s):
        self.data = self.data.replace(s, "")

# Driver's code
s1 = Mystring("Geeks")
print("Original String:", s1.data)

# Appending to string
s1.append("meow")
print("String After Appending:", s1.data)

# Removing from string
s1.remove("Geeks")
print("String after Removing:", s1.data)

Original String: Geeks
String After Appending: Geeksmeow
String after Removing: meow

In [85]:
s1.upper()

'MEOW'

In [86]:
s1*3

'meowmeowmeow'

In [87]:
s1.count('o')

1